body {
    background: #f0f0f1;
    box-sizing: border-box;
}
#adminmenu {
    list-style-type: none;
}
#adminmenumain {
    background-color: #1d2327;
    height: 100vh;
    padding-top: 20px;
    padding-right: 0;
    max-width: 300px;
}
#adminmenumain * {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
#adminmenumain h3 {
    
padding: 0 15px;
    
margin-bottom: 15px;
}
#adminmenumain ul {
    padding-left: 0;
}
#adminmenumain > ul > li a{
    display: block;
    padding: 10px 15px;
}
#adminmenumain > ul > li a:hover {
    color: #1d2327;
    background: #f0f0f1;
}
#content-admin {
    padding: 40px 15px;
}
.main-admin h1 {
    
display: inline-block;
    
margin-right: 15px;
}
.list-table {
    border-collapse: collapse;
}
.list-table,
.list-table tr,
.list-table td,
.list-table th{
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    text-align: center;
}
.list-table thead th {
    text-align: center;
    padding: 5px;
}
.list-table tr:nth-child(odd) {
    background-color: #f6f7f7;
}
td.empty {
    
text-align: center;
}

.btn-save,
.btn-add {
    margin-left: 4px;
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: 1px solid #2271b1;
    border-radius: 2px;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #2271b1;
    background: #f6f7f7;
    cursor: pointer;
}
.btn-save {
     color: #f6f7f7;
    background: #2271b1;
}
.btn-save:hover {
    opacity:0.7
}
.btn-add:hover {
    color:#f6f7f7;
    background-color:#2271b1
}
.admin__field {
    margin-bottom: 15px;
    display: flex;
}
.admin__field label {
    width: 25%;
    font-weight: 500;
}
.admin__field .control {
    width: 70%;
    max-width: 700px;
    padding-left: 15px;
}
.admin__field .control > input[type="text"],
.admin__field .control > textarea {
    width: 100%;
}
.multiselect {
    min-width: 100px;
    max-height: 200px;
}

.multiselect > option {
    padding: 15px;
}
.header {
    
display: flex;
    
justify-content: space-between;
}
.preview-image {
    width: 150px;
    height: 150px;
    padding: 5px;
    display: grid;
    background-color: #fff;
}
.thumbnail-image .border img,
.preview-image img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.thumbnail-image .border {
    width: 100px;
    height: 100px;
}
.require .error {
    color: red
}
#content-admin {
    position: relative;
}
#content-admin::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #0000002d url(../images/loading.gif) auto center no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
#content-admin.loading::before {
    display: block;
}
.pagition {
    list-style-type: none;
    display: flex;
    padding-top: 30px;
}
.pagition li .page{
    display: inline-block;
    vertical-align: baseline;
    min-width: 30px;
    min-height: 30px;
    margin: 0;
    padding: 0 4px;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: #2271b1;
    border-color: #2271b1;
    background: #f6f7f7;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    margin-right: 10px;
}
.pagition li .page.current {
    color: #a7aaad!important;
    border-color: #dcdcde!important;
    background: #f6f7f7!important;
    box-shadow: none!important;
    cursor: default;
    transform: none!important;
}